body {
	display: flex;
	justify-content: center;
	background-color: lightblue;
}
.gameWindow {
	display: flex;
	flex-direction: column;
}
#infoBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100px;
	min-width: 600px;
	border: 1.5px solid grey;
}


.gameInfo {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	align-items: baseline;
}

#tamagotchiTank {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-height: 400px;
	min-width: 600px;
	border: 1.5px solid grey;
}

#tamagotchi {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Bad Script', cursive;
	background-color: yellowgreen;
	height: 150px;
	width: 150px;
	border-radius: 50%;

}

#eyes {
	font-size: 30px;
	
}


#mouth {
	font-size: 30px;
	transform: rotate(90deg);
}

#food{
	font-size: 20px;
	margin-left: 20px;
}

span {
	width:148px;
	border: 1px solid grey;
	align-self: flex-end;
}


























