body {
	display: flex;
	justify-content: center;
	background-color: lightblue;
}
.gameWindow {
	display: flex;
	flex-direction: column;
}
#infoBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100px;
	min-width: 600px;
	border: 1.5px solid grey;
}


.gameInfo {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	align-items: baseline;
}

#tamagotchiTank {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 400px;
	min-width: 600px;
	border: 1.5px solid grey;
}

.tamagotchi {
	background-color: yellowgreen;
	height: 100px;
	width: 100px;
	border-radius: 75%;
}


span {
	width:148px;
	border: 1px solid grey;
	align-self: flex-end;
}


























